.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rebeccapurple;}
nav li a{color: rgb(255, 255, 105)}
input{border-radius: 50%;}
body{
    background-color: rgb(200, 255, 105);
    color: rgb(0, 61, 153);

}